<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>ANNICCHINO DEVELOPMENT</span>
            <h1>The perfect solution for your software</h1>
        </div>
        <img ngSrc="/assets/principal.png" width="669" height="536">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% of the<br/>
                Companies
            </h2>
        </div>
        <p>Do not know how to handle problems of <b>scalability</b> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <app-btn-primary btn-text="talk to our experts"></app-btn-primary>
    </section>
    <app-newsletter-form></app-newsletter-form>
    <section class="benefit-section pad-70">
        <app-benefit-card
            card-title="Qualified team"
            img-path="/assets/team.png"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
        >
        </app-benefit-card>
        <app-benefit-card
            card-title="Your guided projects from scratch"
            img-path="/assets/project-guide.png"
            card-description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur."
        >
        </app-benefit-card>
    </section>
    <section class="cta-section pad-70">
        <h2>Do you want to elevate your software and your<br/>
        business to another level?</h2>
        <app-btn-primary btn-text="talk to our experts"></app-btn-primary>
    </section>
    <app-footer></app-footer>
</main>
